.book-list{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 0.7rem;
    margin: 1rem 0;
    list-style: none;
    
    
    /* border: 2px solid #000; */
}

.book-list li{
    border: 3px solid rgb(186, 186, 186);
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr3bg);
    width: 70%;
}

.remove-btn {
    align-self: flex-end;
}
.book-title-rm-btn{
    display: flex;
    justify-content: space-between;
    
    /* align-items: center; */
    width: 100%;
}